<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin Dashboard</title>

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" /> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}" />

    <!-- Shared Scripts -->
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>

<body onload="renderContent()">
<div class="container">
    <div class="wrapper">

        <!-- Header -->
        <div id="header"></div>

        <!-- Main Content -->
        <main class="main-content">
            <section class="dashboard-header">
                <h1>Admin Dashboard</h1>
                <p>Manage doctors, schedules, and appointments</p>
            </section>

            <!-- Search & Filters -->
            <section class="dashboard-controls">
                <input
                        type="text"
                        id="searchBar"
                        placeholder="Search by doctor name"
                />

                <select id="timeFilter">
                    <option value="">Sorting by time</option>
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>

                <select id="specialtyFilter">
                    <option value="">Filtering by specialty</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Dentist">Dentist</option>
                    <option value="Neurologist">Neurologist</option>
                    <option value="Pediatrician">Pediatrician</option>
                </select>
            </section>

            <!-- Dynamic Content: dynamically inject list of doctors-->
            <section class="dashboard-content">
                <div id="content"></div>
            </section>
        </main>

        <!-- dynamic Footer -->
        <div id="footer"></div>

        
    </div>
</div>

<!-- Modal for adding doctor /a hidden modal container --->

<div id="modal" class="modal">
    <span id="closeModal" class="close">&times;</span>
    <div id="modal-body"></div>
  </div>
  

<!-- Page Scripts -->

<script type="module" src="../js/services/adminDashboard.js" defer></script>
<script type="module" src="../js/components/doctorCard.js" defer></script>


<!-- other option -->
<!-- <div id="modal" class="modal hidden">
    <div class="modal-content">
        <button class="close-btn" id="closeModal">&times;</button>
        <div id="modal-body"></div>
    </div>
</div> -->

<!-- <script type="module" th:src="@{/js/adminDashboard.js}" defer></script>
<script type="module" th:src="@{/js/doctorCard.js}" defer></script> -->


</body>
</html>
